# Django
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=cambiar-esto-en-produccion
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_NAME=labalanza
DB_USER=labalanza
DB_PASSWORD=labalanza
DB_HOST=db
DB_PORT=5432

# PostgreSQL (usado por la imagen oficial de Postgres)
POSTGRES_DB=labalanza
POSTGRES_USER=labalanza
POSTGRES_PASSWORD=labalanza
